<div class="panel panel-default">
    <div class="panel-heading">
        <!-- {{ weather.dt }} -->
        <h3 class="panel-title">{{ convertToDate({ dayDate: weatherDay.dt }) | date: dateFormat }}</h3>
    </div>
    <div class="panel-body">
        Daytime temperature: {{ convertToStandard({ dayTemp: weatherDay.temp.day }) }}
    </div>
</div>