<h1>Forecast for {{ city }}</h1>

<hr>

Days: <a href = "#/forecast/2" ng-class="{'bg-primary': cnt === '2' }">2</a> |
      <a href = "#/forecast/5" ng-class="{'bg-primary': cnt === '5' }">5</a> |
      <a href = "#/forecast/7" ng-class="{'bg-primary': cnt === '7' }">7</a> |

<hr>

<div ng-repeat="weather in weatherResult.list">
    <div class = "row">
        <div class="col-md-12">
            <weather weather-day="weather"
                     convert-to-standard="convertToCelsius(dayTemp)"
                     convert-to-date="convertToDate(dayDate)"
                     date-format="MMMM, dd, yyyy">
            </weather>
        </div>
    </div>
</div>